In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
df=pd.read_csv('fuel_ferc1.csv')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
record_id                       29523 non-null object
utility_id_ferc1                29523 non-null int64
report_year                     29523 non-null int64
plant_name_ferc1                29523 non-null object
fuel_type_code_pudl             29523 non-null object
fuel_unit                       29343 non-null object
fuel_qty_burned                 29523 non-null float64
fuel_mmbtu_per_unit             29523 non-null float64
fuel_cost_per_unit_burned       29523 non-null float64
fuel_cost_per_unit_delivered    29523 non-null float64
fuel_cost_per_mmbtu             29523 non-null float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [13]:
df.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [7]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]

In [8]:
A.extend(B)

In [9]:
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [22]:
df.groupby('fuel_cost_per_unit_burned')['fuel_type_code_pudl'].sum()

fuel_cost_per_unit_burned
-276.080                       waste
-174.670                       waste
-123.310                       waste
-119.040                       other
-85.760                        waste
-85.750                        waste
-70.884                        waste
-59.680                        other
-57.490                        waste
-57.470                        waste
-57.450                        waste
-53.630              wastewastewaste
-45.130              wastewastewaste
-43.712                        waste
-42.679                        waste
-41.501                        waste
-40.536                        waste
-39.675                        waste
-38.966                        waste
-37.809                        waste
-35.100                        waste
-34.858                        waste
-33.014                        waste
-31.501                        waste
-30.032                        waste
-24.295                        waste
-7.700               wastewastewaste
-7.503                         other
-7.390                         waste
-3.946                         waste
                       ...
 48007.000                   nuclear
 48164.000                   nuclear
 49650.832                   nuclear
 51112.004                   nuclear
 51417.892     nuclearnuclearnuclear
 51698.000                   nuclear
 52041.000                   nuclear
 52389.469                   nuclear
 53245.000                   nuclear
 53840.568                   nuclear
 53889.540     nuclearnuclearnuclear
 54376.000                   nuclear
 55098.539     nuclearnuclearnuclear
 55375.000                   nuclear
 57453.439                   nuclear
 57623.931     nuclearnuclearnuclear
 58365.000                   nuclear
 58505.000                   nuclear
 58760.000                   nuclear
 59113.631                   nuclear
 60523.666                   nuclear
 61619.628                   nuclear
 61717.765                   nuclear
 62609.000                   nuclear
 64313.100                   nuclear
 65137.588                   nuclear
 69785.215                   nuclear
 80459.000                       oil
 83538.000                       oil
 139358.000                      oil
Name: fuel_type_code_pudl, Length: 19416, dtype: object

In [23]:
df['fuel_mmbtu_per_unit'].describe()

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

In [24]:
from scipy.stats import kurtosis
from scipy.stats import skew

In [28]:
print('kurtosis',kurtosis(df['fuel_qty_burned']))

kurtosis 651.2589365474387

In [29]:
print('Skewness',skew(df['fuel_qty_burned']))

Skewness 15.850690077422112

In [30]:
df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [32]:
df.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

In [55]:
df.groupby(('fuel_type_code_pudl','report_year'))['fuel_cost_per_unit_burned'].sum()

fuel_type_code_pudl  report_year
coal                 1994            14984.572
                     1995            14571.785
                     1996            12694.803
                     1997            43742.178
                     1998            11902.597
                     1999            16303.468
                     2000           100428.831
                     2001            15109.012
                     2002             9171.164
                     2003            30954.110
                     2004             9632.063
                     2005            11107.182
                     2006            12402.684
                     2007            12965.171
                     2008            14331.348
                     2009            45554.858
                     2010            88627.745
                     2011            17001.015
                     2012            17546.097
                     2013            17629.860
                     2014            15412.197
                     2015            13338.235
                     2016            11100.925
                     2017            10254.284
                     2018             9488.197
gas                  1994            10792.496
                     1995             9087.905
                     1996             1467.390
                     1997             1518.471
                     1998             7475.596
                                       ...
other                2012              224.123
                     2013              182.494
                     2014                0.661
                     2015                0.595
                     2016                0.609
waste                1994               52.762
                     1995             -192.699
                     1996               88.092
                     1997              137.433
                     1998              238.109
                     1999              143.025
                     2000             -489.141
                     2001              217.499
                     2002              254.438
                     2003              161.973
                     2004              272.512
                     2005              313.457
                     2006              423.847
                     2007              427.014
                     2008              474.022
                     2009              739.884
                     2010              755.157
                     2011              517.912
                     2012              589.791
                     2013              609.411
                     2014              591.594
                     2015              629.270
                     2016              539.079
                     2017              452.079
                     2018              660.972
Name: fuel_cost_per_unit_burned, Length: 148, dtype: float64

In [46]:
df.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64